
/* set default image size to 100% */
.carousel .item img{
     width:100%; 
}


.carousel-control{
      &.next {
      text-align: right;
      left:auto;
      right:0
      }
    &.prev {text-align: left;}
    .fa {
       position: absolute;
       top: 50%;
       left: 25%;
       right: 25%;
     }
}


/* opaque caption over bottom of image */
.opaquecaption {
 
  img {
    width: 100%;
    }
   
  .carousel-caption {
    background-color:rgba(0,0,0,.65);
  margin:0;
    left:initial;
    right:initial; 
    bottom:0; 
    width:100%;
    text-align:left;
    padding:20px;
  }

  .carousel-indicators {
    bottom: 0;
    border:1;
  }

  .carousel-control {
    width:150px; 
    padding: 15% 10px;
  
    i {display:none;}
    &:hover i {display:initial;}
    &.next {
      text-align: right;
      left:auto;
      right:0
      }
    &.prev {text-align: left;}
    .fa {
       position: absolute;
       top: 50%;
       left: 25%;
       right: 25%;
     }
  }
    
  @media only screen and (max-width : 768px) {  
    .carousel-caption { position:relative;}  
  }
}


/*******************************/

/******* Side by Side Slider *********/
.sideslide {
    .carousel-controls {
        bottom: 5px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 25%;
        z-index: 3;
    }
    .carousel-controls .carousel-indicators {
        bottom: 0;
        display: inline-block;
        left: initial;
        margin: 0;
        position: initial;
        right: initial;
    }
    .carousel-controls .carousel-indicators li {
        height: 15px;
        width: 15px;
    }
    .carousel-controls .carousel-indicators li.active {
        height: 17px;
        width: 17px;
    }
    a.prev.carousel-control,  a.next.carousel-control {
        background-image: none;
        bottom: initial;
        left: initial;
        margin: 0;
        position: initial;
        top: initial;
        width: auto;
    }
    
    .carousel-control .fa {
      position:initial;
    }
    .carousel-caption {
        background-color: #C10037;
        border-left: 1px solid #fff;
        border-left: 1px solid rgba(255,255,255,.5);
        bottom: 0;
        font-size: 14px;
        font-size: 1.5vw;
        height: 100%;
        left: auto;
        padding: 120px 20px 20px 20px;
        position: absolute;
        right: 0;
        text-align: left;
        width: 25%;
        z-index: 1;
    }
    .carousel-caption:before {
        border-bottom: 20px solid rgba(0,0,0,0);
        border-right: 20px solid #FFF;
        border-right: 20px solid rgba(255,255,255,.5);
        border-top: 20px solid rgba(0,0,0,0);
        content: "";
        left: -20px;
        position: absolute;
        top: 50%;
    }
    .carousel-caption::after {
        border-bottom: 20px solid rgba(0,0,0,0);
        border-right: 20px solid #C10037;
        border-top: 20px solid rgba(0,0,0,0);
        content: "";
        left: -18px;
        position: absolute;
        top: 50%;
    }
    &.carousel .item img {
        margin: 0 25% 0 auto;
        width: 75%;
    }
    &.carousel .item video {
        display: block;
        height: auto;
        margin: 0 25% 0 auto;
        width: 75%;
    }
    h1 {
        font-size: 22px;
        font-size: 2vw;
    }
    @media screen and (max-width:920px) {
        .carousel-caption {
            border: 0;
            padding: 20px;
            position: relative;
            width: 100%;
        }
        &.carousel .item video, .carousel .item img {
            width: 100%;
        }
        .carousel-controls {
            background: #c10037;
            padding-bottom: 10px;
            position: relative;
            width: 100%;
        }
    }
}