/********************************/
/* UNM schedule css */
/******************/


.unm-schedule-tabs {
  .nav-pills {
    margin-bottom: 20px;
    & >li>a {
      background-color:@gray-lighter;
      }
    & >li>a:hover {
      background-color:@gray;
      color: #fff;
      }
      
    & >li.active>a, & >li.active>a:hover, & >li.active>a:focus   {
      background-color:  @brand-primary;
    }
    }
}

.unm-schedule {
  thead {
    background-color: @brand-primary;
    color: #fff;
  }
 .panel { margin-bottom:10px;}
 
 .panel-heading.panel-title::after {
  content: " \f078";
  font-family: FontAwesome;
  position: absolute;
  right: 5%;
}

.panel-heading.panel-title.collapsed::after {
  content: " \f054";
}
 
 
.table-responsive {
  border: 0;
  margin: 0 -15px;
  width: auto;
}
  
  caption {
  padding: 0 15px;
  font-size: 18px;
}  
  
  .cancelled-section {
    color: @brand-primary;
    font-weight: bold;
    }
}