.menu-toggle {
  background-color: @brand-primary;
  color: #FFF;
  text-align: left;
  width: 100%;
  float: none;
  margin-bottom: 20px;
}

#mobile-menu {
  margin: 0 -15px;
}
#mobile-menu nav {
  height: auto !important;
}

#mobile-menu  .nav > li > a {
  padding: 5px 15px;
}

#mobile-menu  a.active {
  background-color:@brand-primary;
  color:#fff;
}
#mobile-menu  .nav > li >  a::after, 
#mobile-menu  .nav > li >  a:hover:after {
  border:0;
}