/******* FOR PREVIEW ONLY *********/
 .visualize #primary {
     background-color: #FCF;
}
 .visualize #secondary {
     background-color: #CFF;
     position:relative;
}
 .visualize #tertiary {
     background-color: #FFC;
}

body#demo {background-color:transparent;}
#demo #header {background-color:#fff;}

/* end */




/* apply a natural box layout model to all elements */
 *, *:before, *:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 html {
     background: url(../img/bg-duck.jpg) no-repeat center center fixed;
     background-size: cover;
}
 body {
     font-family: Lato, sans-serif;
}
 img {
     max-width: 100%;
     height:auto;
}
 h1, h2, h3 {
     margin-top: 0px;
}
 .navbar-inverse {
     background-color: #C10037;
     border-color: #C10037;
}
 .navbar>.container .navbar-brand{
     background: #FFF;
     position: absolute;
     border-bottom: 3px solid #C10037;
     box-shadow: 0 0 5px 2px #CCC;
     background-image: url(../img/unm-logo-tab.gif);
     text-indent: -999px;
     width: 200px;
     background-repeat: no-repeat;
     height: auto;
     background-position-x: 50%;
     background-position-y: 50%;
     margin-left: 0;
     padding: 20px;
     top: -1px;
}
 a.mobile-search {
     color:#fff;
}


.breadcrumb {font-size:.8em;}

/* Hero Area */
 #hero {
     background-color: #C10037;
     margin-bottom: 1em;
}
 #lower{
     background-color:#f9f9f9;
     padding: 30px 0;
     border-top:1px solid #ccc;
}
 #main {
     margin-bottom:30px;
}
 #main .layout {
     background-color: #FFF;
     padding: 30px;
}








 .menu-toggle {
     background-color: #C10037;
     color: #FFF;
     text-align: left;
     width: 100%;
     float: none;
     margin-bottom: 20px;
}


 @media (max-width: 767px) {
     #contextual_nav {
         margin: 30px -15px 30px -15px;
    }
}
 .weather-icon {
     width: 100px;
     height: 100px;
}
 .current-temp {
     text-align: center;
     font-size: 2.5em;
     font-weight: bold;
     padding: 10px;
}
 #loboalert {
     margin: 0;
}




/********************************/
/* UNM schedule css */
/******************/
 #la-schedules {
     margin-bottom:30px;
}
 hr.college-divider {
     height: 3px;
     background-color: #c10037;
     border: 0;
     margin: 2em 0 0 0;
}
 .unm-schedule {
     margin-bottom:30px;
}
 .unm-schedule h3 {
     color: #c10037;
     font-size: 1.5em;
     margin-top: 0;
}
 .unm-schedule h4 {
     margin-top: 1.3em;
     margin-bottom: .5em;
     font-weight: bold;
}
 .unm-schedule h5 {
     width: 100%;
     overflow: auto;
}
 .unm-schedule h5 a {
     font-weight: normal 
}
 .unm-schedule caption {
     font-size: 1.5em;
     line-height: 1em;
     margin-top: 1em;
     margin-bottom: .25em;
     text-align: left;
     vertical-align: top;
}
 .unm-schedule thead th {
     color: white;
     background: #C10037;
     font-size: 1.1em;
     text-align: left;
}
 .unm-schedule tr.section-title td {
     border: 0;
     font-weight: bold;
}
 table.schedule-sessions {
     width: 100% 
}
 table.schedule-sessions td, table.schedule-sessions th {
     border: 0;
     padding: 5px 10px;
     border-bottom: 1px solid #eee;
     vertical-align: top;
}
 .unm-schedule tr.canceled, .unm-schedule tr.canceled td {
     text-decoration: line-through 
}
 .unm-schedule .ui-state-default, .unm-schedule .ui-widget-content .ui-state-default, .unm-schedule .ui-widget-header .ui-state-default {
     background-image: none;
     background-color: #fff;
}
 .unm-schedule .ui-state-default, .unm-schedule .ui-widget-content .ui-state-default, .unm-schedule .ui-widget-header .ui-state-default {
     border: 0;
     border-bottom: 1px solid #ccc;
}
 .unm-schedule .ui-widget-header .ui-state-active {
     border: 0 
}
 .unm-schedule .ui-state-active, .unm-schedule .ui-accordion-content-active {
     background-color: #eee 
}
 .unm-schedule .ui-widget-content {
     background: none 
}
/* format section based on status */
 .status-c, .status-m, .status-s, .status-t {
     color: #666 
}
 .cancelled-section {
     color: #c10037;
     font-weight: bold;
}
 .unm-schedule .ui-accordion-content-active, .unm-schedule .ui-state-active {
     background-color: #F9F9F9 
}
 .unm-schedule .ui-state-active {
     border-bottom: 0;
     background: #F9F9F9;
}
 .ui-accordion .ui-accordion-header {
     margin-top: 0px 
}
/* END UNM schedule css */
/********************************/
/********************************/
/* move horiz-nav doen in z-index for overlay support */
 #horiz-nav {
     z-index: 800;
}
/* add flyouts to dropdwon */
 .dropdown-submenu{
     position:relative;
}
 .dropdown-submenu>.dropdown-menu{
     top:0;
     left:100%;
     margin-top:-6px;
     margin-left:-1px;
     -webkit-border-radius:0 6px 6px 6px;
     -moz-border-radius:0 6px 6px 6px;
     border-radius:0 6px 6px 6px;
}
 .dropdown-submenu:hover>.dropdown-menu{
     display:block;
}
 .dropdown-submenu>a:after{
     display:block;
     content:" ";
     float:right;
     width:0;
     height:0;
     border-color:transparent;
     border-style:solid;
     border-width:5px 0 5px 5px;
     border-left-color:#cccccc;
     margin-top:5px;
     margin-right:-10px;
}
 .dropdown-submenu:hover>a:after{
     border-left-color:#ffffff;
}
 .dropdown-submenu.pull-left{
     float:none;
}
 .dropdown-submenu.pull-left>.dropdown-menu{
     left:-100%;
     margin-left:10px;
     -webkit-border-radius:6px 0 6px 6px;
     -moz-border-radius:6px 0 6px 6px;
     border-radius:6px 0 6px 6px;
}
/* figures and figcaptions */
 figure {
     display: table;
}
 figcaption {
     display: table-caption;
     caption-side: bottom ;
}
/* need to style to fit Bootstrap template!!! */
/* @group UNM Quick Panel */
 #unm_panel {
     position: absolute;
     width: 100%;
     top: 30px;
     left: 0;
     background-color: #333;
     background-color: rgba(51, 51, 51, 0.9);
     color: #FFF;
     display: none;
     z-index: 99;
     padding: 50px 0 30px 0;
     border-bottom: 5px solid #C10037;
     box-shadow: 0 0 5px 5px rgba(0,0,0, .3);
}
 #unm_panel h2 {
     border-bottom: 1px solid #FFF;
     border-color: rgba(255, 255, 255, 0.25);
}
 #unm_panel a {
     color:#fff;
}
 .unm_panel_open a .caret, .unm_panel_open a:hover .caret{
     border-top-color: #FFF;
     border-bottom-color: #FFF;
}
 .unm_panel_open a .caret.up, .unm_panel_open a:hover .caret.up {
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     border-bottom: 4px solid #FFF;
     border-top: none;
}
/* @end */
 
 
 
 /*   navbar stuff  */

 @media (max-width: 767px) {
     #nav .navbar-collapse {
         padding: 0 15px 0 15px;
    }
}
 @media (max-width: 767px) {
     #mobile-menu nav {
         border-bottom: 2px solid #C0C0C0;
    }
     #mobile-menu nav:last-child {
         border-bottom: 0;
    }
    #mobile-menu .dropdown-toggle .caret {
         display: none;
    }
}


